.card {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 25px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.118);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .profilepic{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .h2tag {
  font-family: Arial, sans-serif;
  margin-bottom: 0;
}